*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        font-family: "Questrial", sans-serif;
        font-weight: 400;
        font-style: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* header */
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 50px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
}
header .header-right ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-right ul li{
    margin: 0 10px;
}
header .header-right ul li a{
    font-size: 1rem;
    color: #6d6d6d;
}
header .header-right ul li .fa-star{
    color: rgb(0, 54, 21);
}
header .header-right ul li a:hover{
    color: #000;
}
/* homepage */
.homepage{
    background: #ffe9c8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.homepage h1{
    font-size: 1.5rem;
    color: #262626;
}
.homepage p{
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 300px;
    color: #6d6d6d;
}
.homepage a{
    color: #262626;
    font-size: 1rem;
    padding: 5px 8px;
    border: 1px solid #26262626;
    margin-bottom: 20px;
    transition: 0.2s;
}
.homepage .h-books{
    margin-top: 20px;
}
.homepage .h-books img{
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
.homepage .h-books img:nth-child(2){
    transform: scale(1.2);
}
.homepage .h-books img:hover{
    transform: scale(1.2);
    margin: 0 20px;
}
.homepage a:hover{
    background-color: white;
    color: #000;
}
/* new */
.new{
    padding: 20px;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.new h1{
    font-size: 1.5rem;
    color: #262626;
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
}
.new p{
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 300px;
    color: #6d6d6d;
}
.new .n-books {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.new .n-books .n-book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c7c7c7;
    margin: 10px;
    cursor: pointer;
}
.new .n-books .n-book:hover{
    background-color: #ffe9c8;
}
.new .n-books .n-book p{
    color: #262626;
    font-size: 0.8rem;
}
.new .n-books .n-book h3{
    font-size: 1rem;
}
/* brand */
.brand{
    width: 100%;
    height: 100%;
    padding: 100px;
    background: url('img/brand.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
}
/* bestselling */
.bestselling{
    padding: 20px;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bestselling h1{
    font-size: 1.5rem;
    color: #262626;
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
}
.bestselling p{
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 500px;
    color: #6d6d6d;
}
.bestselling .bs-books{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bestselling .bs-book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #c7c7c7;
    margin: 10px;
    cursor: pointer;
}
.bestselling .bs-books .bs-book:hover{
    background-color: #ffe9c8;
}
.bestselling .bs-books .bs-book p{
    color: #262626;
    font-size: 0.8rem;
}
.bestselling .bs-books .bs-book h3{
    font-size: 1rem;
}
/* Authors */
.authors{
    padding: 20px;
    width: 100%;
    height: 100%;
    background: #ffe9c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.authors h1{
    font-size: 1.5rem;
    color: #262626;
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
}
.authors p{
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 500px;
    color: #6d6d6d;
}
/* responsive */
@media(max-width:500px){
    header .header-right ul li a {
        font-size: 0.8rem;
    }
    header .header-left h3{
        font-size: 1rem;
    }
    header {
        padding: 10px 20px;
    }
    .authors p {
        max-width: 300px;
    }
}
@media(max-width:330px){
    header .header-right ul li a {
        font-size: 0.7rem;
    }
}
@media(max-width:300px){
    header .header-right{
        display: none;
    }
    header{
        justify-content: center;
    }
    header .header-left h3 {
        font-size: 1.5rem;
    }
}
@media(max-width:400px){
    .homepage .h-books img {
        width: 70px;
    }
    .homepage p {
        max-width: 200px;
    }
    .homepage h1 {
        border-bottom: 1px solid #cccccc;
        padding: 10px 0;
    }
}
@media(max-width:310px){
    .homepage .h-books img {
        width: 50px;
    }
}
@media(max-width:250px){
    .homepage .h-books {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .homepage .h-books img {
        margin: 20px 0;
    }
    .homepage .h-books img {
        width: 70px;
    }
    .homepage .h-books img:nth-child(2){
        transform: scale(1);
    }
    .homepage .h-books img:hover{
        transform: scale(1.2);
        margin: 0;
    }
    .new h1 {
        font-size: 1.2rem;
    }
    .new .n-books .n-book {
        padding: 10px 15px;
    }
    .bestselling h1{
        font-size: 1.2rem;
    }
    .bestselling .bs-books .bs-book {
        padding: 10px 15px;
    }
    .authors h1 {
        font-size: 1.2rem;
    }
}
@media(max-width:600px){
    .brand{
        padding: 5px;
    }
    .brand p{
        font-size: 1rem;
        max-width: 400px;
    }
    .bestselling p {
        max-width: 300px;
    }
    .authors p {
        max-width: 400px;
    }
}
@media(max-width:210px){
    .bestselling h1 {
        font-size: 1rem;
    }
    .bestselling p {
       font-size: 0.7rem;
    }
}